@import "color";

.container {
    width: 1020px;
    margin: 0 auto;
}

.button {
    width: 40px;
    height: 40px;
    background-color: $mainColor;
    border-radius: 5px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #ffffff;
    margin-right: 5px;
    &:hover {
        background-color: #F08080;  
    }
}

.keyboard {
    padding: 10px;
    background-color: $mainColor;
    border-radius: 10px;
    margin: 0 auto;
    width: max-content;
}

.line {
    display: flex;
    &::after{
        display: flex;
        flex-direction: column;
        content: "";
        clear: both;
    }   
}